{% extends "base.html" %}

{% block title %}伊藤苑{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}


{% block content %}



<nav class="navbar navbar-default">
  <!--コンテナーで囲う-->
  <div class="container-fluid">
      <div class="navbar-header">
          <p class="navbar-text">伊藤苑</p>
      </div>
      <!--入力フォーム-->
      <!--ナビゲーションバーのフォーム　cmsアプリのsearch_resultメソッドを、getで呼ぶ-->
      <form class="navbar-form" action="{% url 'cms:search_result' %}" method="get">
           <div class="form-group">
               <input type="text" name="word" class="form-control" placeholder="検索ワード">
           </div>
           <button type="submit" class="btn btn-success">検索</button>
      </form>
  </div>
</nav>

 

{% endblock content %}
