{% extends "base.html" %}

{% block title %}詳細表示{% endblock title %}

{% block extrahead %}

<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}


{% block content %}
    <h3 class="page-header">{{ item.itemName }}</h3>
      <table class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>関連情報</th>
            <th>出展元</th>
            <th>日付</th>
          </tr>
        </thead>
        <tbody>
          {% for fact in facts %}
          <tr>
            <td>{{fact.info}}</td>
              {% if fact.quote.quoteUrl == '' %}
                 <td>{{fact.quote.quoteName}}</td>
              {% else %}
                 <td><a href="{{fact.quote.quoteUrl}}" target=”_blank”>{{fact.quote.quoteName}} </a></td>
              {% endif %}             
            <td>{{fact.aboutDate}}</td>
          </tr>
          {% endfor %}
       <tbody>
      </table>
    <div>
      <Form><Input class="btn btn-default btn-xs" value="閉じる" onClick="javascript:window.close();"></Form> 
    </div>
{% endblock content %}