{% extends "base.html" %}

{% block title %}項目一覧{% endblock title %}

{% block extrahead %}
<style>
table {
  margin-top: 8px;
}
</style>
{% endblock %}

{% block content %}
<nav class="navbar navbar-default">
  <!--コンテナーフィールド：画面サイズに合わせてナビゲーションバーを変更-->
  <div class="container-fluid">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">伊藤苑</a>
      </div>
      <!--入力フォーム-->
      <!--ナビゲーションバーのフォーム　cmsアプリのsearch_resultメソッドを、getで呼ぶ-->
      <form class="navbar-form" action="{% url 'cms:search_result' %}" method="get">
           <div class="form-group">
               <input type="text" name="word" class="form-control" placeholder="検索ワード">
                <button type="submit" class="btn btn-success">検索</button>
           </div>
      </form>
  </div>
</nav>

<h3 class="page-header">検索結果の一覧</h3>
<div class="container" style="padding:5px 0">
   <table class="table table-striped table-bordered">
      <thead>
           <tr>
               <th class="col-xs-4 col-sm-4 col-md-4"><nobr>項目名</nobr></th>
               <th class="col-xs-7 col-sm-7 col-md-7">概要</th>
               <th class="col-xs-1 col-sm-1 col-md-1">詳細</th>
           </tr>
      </thead>
      <tbody>
           {% for item in items %}
           <tr>
               <td class="col-xs-4 col-sm-4 col-md-4"><nobr>{{ item.itemName }}</nsobr></td>
               <td class="col-xs-7 col-sm-7 col-md-7">{{ item.itemOutline }}</td>
               <td class="col-xs-1 col-sm-1 col-md-1">
                   <Form><input name="openWin" class="btn btn-info" value="詳細" 
                      onClick="window.open('{% url 'cms:item_detail' item_id=item.id %}',
                      '','scrollbars=yes,width=1000,height=500,');">
                   </Form>
              </td> 
           </tr>
           {% endfor %}
      </tbody>
     
    </table>
    </div>    
{% endblock content %}